name: slide_to_confirm
description: A slider that will activate a callback when the user slides it to 100%.
version: 1.0.2
author: Gustav Friis-Hansen <friisdeveloper@gmail.com>
homepage: https://github.com/Friiiis/slide_to_confirm

environment:
  sdk: ">=2.13.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
